In [1]:
import pandas as pd

In [2]:
#Reading in the files and merging the data
df0=pd.read_csv('Fold5_part1_features.csv')
df1=pd.read_csv('Fold5_part2_features.csv')

In [3]:
df0

           EAR       MAR  Circularity       MOE   Y  Respondent
0     0.315900  0.986514     0.450053  3.122874   0          50
1     0.320060  0.967440     0.497489  3.022686   0          50
2     0.328431  1.006906     0.518270  3.065808   0          50
3     0.351223  1.102950     0.536187  3.140313   0          50
4     0.337345  1.094224     0.504254  3.243631   0          50
...        ...       ...          ...       ...  ..         ...
4795  0.300000  1.116596     0.448000  3.721987  10          54
4796  0.333333  1.113596     0.470632  3.340788  10          54
4797  0.312229  1.094251     0.481475  3.504642  10          54
4798  0.333333  1.156690     0.470632  3.470069  10          54
4799  0.312229  1.156184     0.481475  3.702998  10          54

[4800 rows x 6 columns]

In [4]:
df1

           EAR       MAR  Circularity       MOE   Y  Respondent
0     0.341632  1.036523     0.558062  3.034030   0          55
1     0.368421  0.964764     0.614811  2.618645   0          55
2     0.289074  1.000000     0.436269  3.459327   0          55
3     0.344251  1.072587     0.475702  3.115707   0          55
4     0.364822  1.348893     0.465361  3.697404   0          55
...        ...       ...          ...       ...  ..         ...
4795  0.275401  1.182630     0.414005  4.294205  10          59
4796  0.204631  1.189241     0.291487  5.811628  10          59
4797  0.290996  1.110189     0.398633  3.815133  10          59
4798  0.301910  1.143009     0.420446  3.785924  10          59
4799  0.250010  1.143407     0.439890  4.573453  10          59

[4800 rows x 6 columns]

In [5]:
total=[df0,df1]

In [6]:
total

[           EAR       MAR  Circularity       MOE   Y  Respondent
 0     0.315900  0.986514     0.450053  3.122874   0          50
 1     0.320060  0.967440     0.497489  3.022686   0          50
 2     0.328431  1.006906     0.518270  3.065808   0          50
 3     0.351223  1.102950     0.536187  3.140313   0          50
 4     0.337345  1.094224     0.504254  3.243631   0          50
 ...        ...       ...          ...       ...  ..         ...
 4795  0.300000  1.116596     0.448000  3.721987  10          54
 4796  0.333333  1.113596     0.470632  3.340788  10          54
 4797  0.312229  1.094251     0.481475  3.504642  10          54
 4798  0.333333  1.156690     0.470632  3.470069  10          54
 4799  0.312229  1.156184     0.481475  3.702998  10          54

 [4800 rows x 6 columns],
            EAR       MAR  Circularity       MOE   Y  Respondent
 0     0.341632  1.036523     0.558062  3.034030   0          55
 1     0.368421  0.964764     0.614811  2.618645   0          55
 2     0.289074  1.000000     0.436269  3.459327   0          55
 3     0.344251  1.072587     0.475702  3.115707   0          55
 4     0.364822  1.348893     0.465361  3.697404   0          55
 ...        ...       ...          ...       ...  ..         ...
 4795  0.275401  1.182630     0.414005  4.294205  10          59
 4796  0.204631  1.189241     0.291487  5.811628  10          59
 4797  0.290996  1.110189     0.398633  3.815133  10          59
 4798  0.301910  1.143009     0.420446  3.785924  10          59
 4799  0.250010  1.143407     0.439890  4.573453  10          59

 [4800 rows x 6 columns]]

In [7]:
total=pd.concat(total)

In [8]:
#total = total.drop(["Unnamed: 0"],axis=1)
total

           EAR       MAR  Circularity       MOE   Y  Respondent
0     0.315900  0.986514     0.450053  3.122874   0          50
1     0.320060  0.967440     0.497489  3.022686   0          50
2     0.328431  1.006906     0.518270  3.065808   0          50
3     0.351223  1.102950     0.536187  3.140313   0          50
4     0.337345  1.094224     0.504254  3.243631   0          50
...        ...       ...          ...       ...  ..         ...
4795  0.275401  1.182630     0.414005  4.294205  10          59
4796  0.204631  1.189241     0.291487  5.811628  10          59
4797  0.290996  1.110189     0.398633  3.815133  10          59
4798  0.301910  1.143009     0.420446  3.785924  10          59
4799  0.250010  1.143407     0.439890  4.573453  10          59

[9600 rows x 6 columns]

In [9]:
#Saving the merged data into a CSV
total.to_csv('totalwithrespondent.csv',index=False)

In [11]:
#Reading the CSV back into a dataframe

df = pd.read_csv('totalwithrespondent.csv')
#df = pd.read_csv('Fold5_part1_features.csv')
df

           EAR       MAR  Circularity       MOE   Y  Respondent
0     0.315900  0.986514     0.450053  3.122874   0          50
1     0.320060  0.967440     0.497489  3.022686   0          50
2     0.328431  1.006906     0.518270  3.065808   0          50
3     0.351223  1.102950     0.536187  3.140313   0          50
4     0.337345  1.094224     0.504254  3.243631   0          50
...        ...       ...          ...       ...  ..         ...
9595  0.275401  1.182630     0.414005  4.294205  10          59
9596  0.204631  1.189241     0.291487  5.811628  10          59
9597  0.290996  1.110189     0.398633  3.815133  10          59
9598  0.301910  1.143009     0.420446  3.785924  10          59
9599  0.250010  1.143407     0.439890  4.573453  10          59

[9600 rows x 6 columns]

In [12]:
#Reordering the columns
cols = df.columns.tolist()
cols = cols[-1:] + cols[4:5] + cols[:4]
df = df[cols]

In [13]:
df

      Respondent   Y       EAR       MAR  Circularity       MOE
0             50   0  0.315900  0.986514     0.450053  3.122874
1             50   0  0.320060  0.967440     0.497489  3.022686
2             50   0  0.328431  1.006906     0.518270  3.065808
3             50   0  0.351223  1.102950     0.536187  3.140313
4             50   0  0.337345  1.094224     0.504254  3.243631
...          ...  ..       ...       ...          ...       ...
9595          59  10  0.275401  1.182630     0.414005  4.294205
9596          59  10  0.204631  1.189241     0.291487  5.811628
9597          59  10  0.290996  1.110189     0.398633  3.815133
9598          59  10  0.301910  1.143009     0.420446  3.785924
9599          59  10  0.250010  1.143407     0.439890  4.573453

[9600 rows x 6 columns]

In [14]:
#Separating the rows which are "Alert" only
df_alert = df[df["Y"]==0]

In [15]:
df_alert

      Respondent  Y       EAR       MAR  Circularity       MOE
0             50  0  0.315900  0.986514     0.450053  3.122874
1             50  0  0.320060  0.967440     0.497489  3.022686
2             50  0  0.328431  1.006906     0.518270  3.065808
3             50  0  0.351223  1.102950     0.536187  3.140313
4             50  0  0.337345  1.094224     0.504254  3.243631
...          ... ..       ...       ...          ...       ...
8795          59  0  0.334505  1.124335     0.454915  3.361190
8796          59  0  0.332057  1.076487     0.495452  3.241871
8797          59  0  0.343297  1.125499     0.521829  3.278497
8798          59  0  0.298283  1.119259     0.467460  3.752334
8799          59  0  0.332057  1.093268     0.456091  3.292409

[3200 rows x 6 columns]

In [16]:
#Creating separate dataframes for each respondent's first, second and third "Alert" frame
df_alert_1 = df_alert.iloc[0::400, :]
df_alert_2 = df_alert.iloc[1::400, :]
df_alert_3 = df_alert.iloc[2::400, :]

In [17]:
df_alert_1

      Respondent  Y       EAR       MAR  Circularity       MOE
0             50  0  0.315900  0.986514     0.450053  3.122874
1200          51  0  0.297189  0.938839     0.418107  3.159067
2400          53  0  0.379584  0.988835     0.507169  2.605048
3600          54  0  0.310294  0.862338     0.491792  2.779103
4800          55  0  0.341632  1.036523     0.558062  3.034030
6000          56  0  0.276044  0.975615     0.433331  3.534278
7200          57  0  0.240376  0.792576     0.418668  3.297236
8400          59  0  0.346804  1.022771     0.479602  2.949136

In [18]:
df_alert_2

      Respondent  Y       EAR       MAR  Circularity       MOE
1             50  0  0.320060  0.967440     0.497489  3.022686
1201          51  0  0.305556  0.907923     0.433643  2.971385
2401          53  0  0.347249  0.955619     0.485548  2.751971
3601          54  0  0.333333  0.912657     0.449846  2.737971
4801          55  0  0.368421  0.964764     0.614811  2.618645
6001          56  0  0.263650  0.994149     0.438756  3.770715
7201          57  0  0.251506  0.774421     0.383646  3.079135
8401          59  0  0.273821  1.022298     0.405698  3.733454

In [19]:
df_alert_3

      Respondent  Y       EAR       MAR  Circularity       MOE
2             50  0  0.328431  1.006906     0.518270  3.065808
1202          51  0  0.278470  0.936549     0.413135  3.363191
2402          53  0  0.362143  0.982621     0.510681  2.713351
3602          54  0  0.346172  0.902986     0.531016  2.608490
4802          55  0  0.289074  1.000000     0.436269  3.459327
6002          56  0  0.276708  0.975615     0.435057  3.525795
7202          57  0  0.249783  0.830549     0.384159  3.325078
8402          59  0  0.348503  1.080686     0.478248  3.100938

In [20]:
#Merging them into one dataframe
alert_first3 = [df_alert_1,df_alert_2,df_alert_3]
df_alert_first3 = pd.concat(alert_first3)
df_alert_first3 = df_alert_first3.sort_index()

In [21]:
df_alert_first3

      Respondent  Y       EAR       MAR  Circularity       MOE
0             50  0  0.315900  0.986514     0.450053  3.122874
1             50  0  0.320060  0.967440     0.497489  3.022686
2             50  0  0.328431  1.006906     0.518270  3.065808
1200          51  0  0.297189  0.938839     0.418107  3.159067
1201          51  0  0.305556  0.907923     0.433643  2.971385
1202          51  0  0.278470  0.936549     0.413135  3.363191
2400          53  0  0.379584  0.988835     0.507169  2.605048
2401          53  0  0.347249  0.955619     0.485548  2.751971
2402          53  0  0.362143  0.982621     0.510681  2.713351
3600          54  0  0.310294  0.862338     0.491792  2.779103
3601          54  0  0.333333  0.912657     0.449846  2.737971
3602          54  0  0.346172  0.902986     0.531016  2.608490
4800          55  0  0.341632  1.036523     0.558062  3.034030
4801          55  0  0.368421  0.964764     0.614811  2.618645
4802          55  0  0.289074  1.000000     0.436269  3.459327
6000          56  0  0.276044  0.975615     0.433331  3.534278
6001          56  0  0.263650  0.994149     0.438756  3.770715
6002          56  0  0.276708  0.975615     0.435057  3.525795
7200          57  0  0.240376  0.792576     0.418668  3.297236
7201          57  0  0.251506  0.774421     0.383646  3.079135
7202          57  0  0.249783  0.830549     0.384159  3.325078
8400          59  0  0.346804  1.022771     0.479602  2.949136
8401          59  0  0.273821  1.022298     0.405698  3.733454
8402          59  0  0.348503  1.080686     0.478248  3.100938

In [22]:
#Functions for mean and std for each feature
def mean_EAR(respondent):
    return df_means.loc[respondent]["EAR"]

def mean_MAR(respondent):
    return df_means.loc[respondent]["MAR"]

def mean_Circularity(respondent):
    return df_means.loc[respondent]["Circularity"]

def mean_MOE(respondent):
    return df_means.loc[respondent]["MOE"]


def std_EAR(respondent):
    return df_std.loc[respondent]["EAR"]

def std_MAR(respondent):
    return df_std.loc[respondent]["MAR"]

def std_Circularity(respondent):
    return df_std.loc[respondent]["Circularity"]

def std_MOE(respondent):
    return df_std.loc[respondent]["MOE"]

In [23]:
df_means = df_alert_first3.groupby("Respondent")["EAR","MAR","Circularity","MOE"].mean()

C:\Users\nataw\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [24]:
df_means

                 EAR       MAR  Circularity       MOE
Respondent
50          0.321463  0.986953     0.488604  3.070456
51          0.293738  0.927771     0.421628  3.164547
53          0.362992  0.975692     0.501133  2.690123
54          0.329933  0.892661     0.490885  2.708521
55          0.333042  1.000429     0.536380  3.037334
56          0.272134  0.981793     0.435715  3.610262
57          0.247222  0.799182     0.395491  3.233816
59          0.323043  1.041918     0.454516  3.261176

In [25]:
df_std = df_alert_first3.groupby("Respondent")["EAR","MAR","Circularity","MOE"].std()

C:\Users\nataw\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [26]:
df_std

                 EAR       MAR  Circularity       MOE
Respondent
50          0.006382  0.019736     0.034965  0.050255
51          0.013868  0.017226     0.010698  0.195960
53          0.016184  0.017659     0.013611  0.076166
54          0.018179  0.026701     0.040593  0.089038
55          0.040365  0.035882     0.091224  0.420351
56          0.007355  0.010701     0.002772  0.139021
57          0.005991  0.028641     0.020073  0.134679
59          0.042636  0.033575     0.042283  0.415988

In [27]:

#Adding respondent-wise mean and std for each feature to each row in the original dataframe
df["EAR_mean"] = df["Respondent"].apply(mean_EAR)
df["MAR_mean"] = df["Respondent"].apply(mean_MAR)
df["Circularity_mean"] = df["Respondent"].apply(mean_Circularity)
df["MOE_mean"] = df["Respondent"].apply(mean_MOE)

df["EAR_std"] = df["Respondent"].apply(std_EAR)
df["MAR_std"] = df["Respondent"].apply(std_MAR)
df["Circularity_std"] = df["Respondent"].apply(std_Circularity)
df["MOE_std"] = df["Respondent"].apply(std_MOE)

C:\Users\nataw\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\nataw\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\nataw\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\nataw\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\nataw\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\nataw\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\nataw\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\nataw\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [28]:

#Calculating normalised features for each row in the original dataframe
df["EAR_N"] = (df["EAR"]-df["EAR_mean"])/ df["EAR_std"]
df["MAR_N"] = (df["MAR"]-df["MAR_mean"])/ df["MAR_std"]
df["Circularity_N"] = (df["Circularity"]-df["Circularity_mean"])/ df["Circularity_std"]
df["MOE_N"] = (df["MOE"]-df["MOE_mean"])/ df["MOE_std"]

C:\Users\nataw\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\nataw\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\nataw\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\nataw\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [29]:
#Saving the file to a CSV with all the information
df.to_csv('totalwithallinfo.csv',index=False)

In [30]:
df

,Respondent,Y,EAR,MAR,Circularity,MOE,EAR_mean,MAR_mean,Circularity_mean,MOE_mean,EAR_std,MAR_std,Circularity_std,MOE_std,EAR_N,MAR_N,Circularity_N,MOE_N
0,50,0,0.315900,0.986514,0.450053,3.122874,0.321463,0.986953,0.488604,3.070456,0.006382,0.019736,0.034965,0.050255,-0.871732,-0.022238,-1.102540,1.043034
1,50,0,0.320060,0.967440,0.497489,3.022686,0.321463,0.986953,0.488604,3.070456,0.006382,0.019736,0.034965,0.050255,-0.219925,-0.988696,0.254111,-0.950539
2,50,0,0.328431,1.006906,0.518270,3.065808,0.321463,0.986953,0.488604,3.070456,0.006382,0.019736,0.034965,0.050255,1.091657,1.010933,0.848429,-0.092496
3,50,0,0.351223,1.102950,0.536187,3.140313,0.321463,0.986953,0.488604,3.070456,0.006382,0.019736,0.034965,0.050255,4.662748,5.877299,1.360857,1.390040
4,50,0,0.337345,1.094224,0.504254,3.243631,0.321463,0.986953,0.488604,3.070456,0.006382,0.019736,0.034965,0.050255,2.488390,5.435149,0.447582,3.445910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9595,59,10,0.275401,1.182630,0.414005,4.294205,0.323043,1.041918,0.454516,3.261176,0.042636,0.033575,0.042283,0.415988,-1.117401,4.190975,-0.958109,2.483317
9596,59,10,0.204631,1.189241,0.291487,5.811628,0.323043,1.041918,0.454516,3.261176,0.042636,0.033575,0.042283,0.415988,-2.777285,4.387865,-3.855693,6.131075
9597,59,10,0.290996,1.110189,0.398633,3.815133,0.323043,1.041918,0.454516,3.261176,0.042636,0.033575,0.042283,0.415988,-0.751634,2.033375,-1.321658,1.331666
9598,59,10,0.301910,1.143009,0.420446,3.785924,0.323043,1.041918,0.454516,3.261176,0.042636,0.033575,0.042283,0.415988,-0.495647,3.010903,-0.805777,1.261450
9599,59,10,0.250010,1.143407,0.439890,4.573453,0.323043,1.041918,0.454516,3.261176,0.042636,0.033575,0.042283,0.415988,-1.712957,3.022742,-0.345922,3.154605

In [31]:

#Saving the file to a CSV with all the information
df_main = df.drop(["EAR_mean","MAR_mean","Circularity_mean","MOE_mean","EAR_std","MAR_std","Circularity_std","MOE_std"],axis=1)
df_main.to_csv('totalwithmaininfo.csv',index=False)

In [32]:
df_main

,Respondent,Y,EAR,MAR,Circularity,MOE,EAR_N,MAR_N,Circularity_N,MOE_N
0,50,0,0.315900,0.986514,0.450053,3.122874,-0.871732,-0.022238,-1.102540,1.043034
1,50,0,0.320060,0.967440,0.497489,3.022686,-0.219925,-0.988696,0.254111,-0.950539
2,50,0,0.328431,1.006906,0.518270,3.065808,1.091657,1.010933,0.848429,-0.092496
3,50,0,0.351223,1.102950,0.536187,3.140313,4.662748,5.877299,1.360857,1.390040
4,50,0,0.337345,1.094224,0.504254,3.243631,2.488390,5.435149,0.447582,3.445910
...,...,...,...,...,...,...,...,...,...,...
9595,59,10,0.275401,1.182630,0.414005,4.294205,-1.117401,4.190975,-0.958109,2.483317
9596,59,10,0.204631,1.189241,0.291487,5.811628,-2.777285,4.387865,-3.855693,6.131075
9597,59,10,0.290996,1.110189,0.398633,3.815133,-0.751634,2.033375,-1.321658,1.331666
9598,59,10,0.301910,1.143009,0.420446,3.785924,-0.495647,3.010903,-0.805777,1.261450
9599,59,10,0.250010,1.143407,0.439890,4.573453,-1.712957,3.022742,-0.345922,3.154605